@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Fuggles&family=Indie+Flower&family=Poppins:wght@200;300&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');


#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
  right: 0; 

}


.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo{
  position: absolute;
  color: #ffffff;
  font-family: 'Croissant One', cursive;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0; 
  transform: translateY(-50%);
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  

}

@keyframes fadeUp{ 
  0%{
    opacity: 0; 
    transform: translateY(100px);
    filter:blur(9px)

  }
  100%{

    opacity: 1;
    filter: none;

  }

}




.scroll{
  font-family: 'Croissant One', cursive;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: rgb(28, 67, 225);
  display: inline-block;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 7s ease-in-out;;


}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.loader{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: white;
  transition: opacity 1s ease-in-out;
}

.loader-disappear{

  opacity: 0;

}



.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: 'Croissant One', cursive;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #3535cc;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: opacity 2.4s ease-in-out 2s forwards;
  opacity: 1;
}

.explore:hover {
  color: white;
}


.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}


.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}


.intro--disappear .scroll{
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.overlay--disable{
  pointer-events: none;
}


.intro__scroll {
  opacity: 0;
  color: white;
  font-family: 'Croissant One', cursive;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 24vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Croissant One', cursive;
  color: white;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.outro--appear {
  opacity: 1;
}



/* media queries */


@media screen and (max-width: 768px) {
  .logo {
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }

  .explore {
    padding: .7rem 1.5rem;
    border: none;
    font-family: 'Croissant One', cursive;
    font-size: .9rem;
    letter-spacing: 0.15rem;
    color: #3535cc;
    border-radius: 32px;
    cursor: pointer;
    display: inline-block;
    margin-top: 130px;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.42s ease-in-out;
    animation: fadeIn 2.4s ease-in-out 2s forwards;
    opacity: 1;
  }

  .intro__scroll{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

  }
}