@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Fuggles&family=Indie+Flower&family=Poppins:wght@200;300&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');


#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
  right: 0; 

}


.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo{
  position: absolute;
  color: #ffffff;
  font-family: 'Croissant One', cursive;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0; 
  transform: translateY(-50%);
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  

}

@keyframes fadeUp{ 
  0%{
    opacity: 0; 
    transform: translateY(100px);
    filter:blur(9px)

  }
  100%{

    opacity: 1;
    filter: none;

  }

}




.scroll{
  font-family: 'Croissant One', cursive;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: rgb(28, 67, 225);
  display: inline-block;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 7s ease-in-out;;


}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


span {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #ffffff;
  margin: 6px;
  border-radius: 5px;
  animation: move 1.1s infinite ease-in-out;
  transform-origin: center center;
}

span:nth-of-type(1) {
  transform: rotate(45deg) translateY(2px);
  transform-origin: top center;
}

span:nth-of-type(2) {
  transform: rotate(-45deg) translateY(2px);
  transform-origin: top center;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}


.loader{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: white;
  transition: opacity 1s ease-in-out;
}

.loader-disappear{

  opacity: 0;

}
